

<% form_for @photo do |p| %>

	<% if @photo.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@photo.errors.count, "error")%>. Photo not saved.
			</h2>
			<ul>
				<%photo.errors.full_messages.each do |msg|%>
				<li><%=msg%></li>
				<%end%>
			</ul>
		</div>
	<%end%>

	<p>
		<%= p.label :photographer%><br>
		<%= p.text_field :photographer%>
	</p>

	<p>
		<%= p.label :name%><br>
		<%= p.text_field :name%>
	</p>

	<p>
		<%= p.label :url%><br>
		<%= p.text_field :url%>
	</p>

	<p>
		<%= p.checkbox :copyrighted %>
		<%= p.label :copyrighted, "Photo is copyrighted."%>
	</p>

	<p>
		<%= p.submit "Save Photo"%>
	</p>


<%end%>