<h1>Available Photos</h1>

<%= link_to 'Add Photo', new_photo_path %>

<%@photos.each do |photo|%>
	<p>
		<%= photo.name%>, <%= "Copyright:" if photo.copyrighted%> <%= photo.photographer%>
		<%= link_to(image_tag(photo.url), photo)%>
	</p>
<%end%>